body {
  padding: 0 30px;
  font-size: 18px;
  line-height: 26px;
  font-family: "Arial", sans-serif;
  color: #222222;

  background: #ffb1fb url("img/bg-page.png") no-repeat top center;
}
header{
  margin-left: 15%;
  margin-right: 15%;


}
h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: normal;
  color: #350a42;
}

h2 {
  font-size: 24px;
  line-height: normal;
}

aside {
  margin: 20px 0;
  color: #c4c4c4;
}

pre,
code {
  background-color: #fafaff;
  border: 1px solid #c6c4f4;
  border-radius: 4px;
  color: #3632ad;
  font-family: "Courier New", "Courier", monospace;
}

pre {
  padding: 5px;
}

code {
  padding: 2px 5px;
}

pre code {
  background-color: transparent;
  border-radius: 0;
  border: none;
}


blockquote {
  padding-left: 14px;
  border-left: 2px solid #6a2cce;

  color: #6a2cce;
}

cite {
  color: #222222;
}

time {
  color: #6a2cce;
}

a[href] {
  color: #33052b;
  font-weight: 700;
  text-decoration: underline;
}

del {
  color: #ff4400;
}

ins {
  color: rgb(105, 178, 83);
}

del,
ins {
  text-decoration: none;
}

em,
i {
  font-style: normal;
}

.avatar {
  border-radius: 50%;
}

.avatar-container {
  text-align: center;
  padding-bottom: 1.5%;
}

.blog-navigation {
  margin-bottom: 30px;
  padding: 20px;
  font-size: 20px;
  font-family: "BRAGGADOCIO", sans-serif;
  background-color: rgba(136, 19, 146, 0.7);
  border: 5px solid #3a0737;
  color: #ffffff;
  text-shadow: 5px 3px 3px rgba(66, 60, 66, 0.5);
}


.blog-navigation h2 {
  margin-top: 0;
  padding-left: 5px;
}

.blog-navigation ul {
  list-style: none;
  color: #ffffff;
  padding-left: 15px;
}

.blog-navigation li {
  margin-bottom: 10px;
  color: #ffffff;
}

.blog-navigation a {
  color: #ffffff;
}

.skills dd {
  margin: 0;
  margin-bottom: 10px;

  background-color: #ffffff;
}

.skills-level {
  font-size: 13px;
  text-align: center;
  color: #ffffff;
  background-color: #0e4b4b;
}

.skills-level-ok {
  background-color: #47bb52;
}

.days {
  list-style: none;
  padding-left: 0;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

figure img {
  vertical-align: middle;
  border: 8px solid rgb(202, 224, 248);
}

figcaption {
  width: 502px;
  padding-bottom: 8px;
  font-size: 12px;
  letter-spacing: 0.02em;
  font-style: italic;
  text-align: center;
  background-color: rgb(202, 224, 248);
}

.pagination a {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 15px;
}

.pagination {
  text-align: center;
  color: #888888;
}

.danger-text {
  color: #ff4400;
}

.danger-block {
  padding: 5px 10px;
  background-color: #ffd0bf;
}

.no-danger-block {
  padding: 5px 10px;
  background-color: #c6f5f0;
}

footer {
  margin-top: 30px;
  padding-top: 10px;
  color: #7a7777;
  font-weight: 700;
  border-top: 1px solid #7a7777;
}

.page-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 42px;
  font-family: "BOOKMAN OLD STYLE", sans-serif;
  text-align: center;
  box-shadow: 0 0 22px rgba(38, 32, 39, 0.7);
  border-radius: 7%;
  text-shadow: 3px 3px 3px rgba(95, 91, 95, 0.5);
}

.partnership {
  margin: 30px 0;
  padding: 30px;
  text-align: center;
  color: #ffffff;
  background-color: #c4fca4;
  background-image: url("img/IMG_222444.jpg");
}

.underline {
  text-decoration: underline;
}

.line-through {
  text-decoration: line-through;
}

.overline {
  text-decoration: overline;
}

.italic {
  font-style: italic;
}
